:host {
  .container {
    width: 100%;
    padding: 3rem 2rem 1.5rem 2rem;

    .section-filters {
      display: flex;
      align-items: center;
      justify-content: space-between;

      div {
        display: flex;
        align-items: baseline;
        gap: 1rem;

        .button-add {
          height: 2.5rem;
        }

        mat-form-field {
          min-width: 250px;

          ::ng-deep .mat-mdc-text-field-wrapper {
            height: 2.7rem;
            display: flex;
            align-items: center;
            background-color: var(--color-white);
          }
        }
      }
    }

    .section-results {
      margin: 2rem 0 5rem 0;
      overflow: auto;

      p {
        text-align: center;
        font-weight: bold;
      }

      table {
        min-width: 37.5rem;
        width: 100%;

        th {
          background-color: var(--color-accent);
          font-weight: bold;
          text-align: left;
          padding: 0.5rem 1rem;
        }

        td {
          .icon-highlight {
            color: var(--color-yellow);
          }
        }
        td:nth-child(3) {
          min-width: 18.75rem;
        }

        .short-info:first-child {
          width: 5rem;
        }

        .short-info {
          max-width: 9rem;
          width: 9rem;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .container {
      .section-filters {
        flex-direction: column;
        align-items: stretch;
        gap: 1rem;

        div {
          flex-direction: column;

          mat-form-field {
            width: 100%;
          }
        }
      }
    }
  }
}
