<div class="container">
  <section class="section-filters">
    <h3>Produtos</h3>

    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="addProduct()"
        class="button-add"
      >
        Adicionar Produto
      </button>

      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Pesquisar"
          (keyup)="onSearchChange($event)"
          [value]="searchQuery"
        />
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </section>

  @if (products$ | async; as products) {
    <section class="section-results">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="highlight">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="short-info"
          >
            Destaque
          </th>
          <td mat-cell *matCellDef="let product" class="short-info">
            @if (product.highlight) {
              <mat-icon class="icon-highlight">star</mat-icon>
            }
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
          <td mat-cell *matCellDef="let product">{{ product.name }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Descrição</th>
          <td mat-cell *matCellDef="let product">{{ product.description }}</td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
          <td mat-cell *matCellDef="let product">{{ product.category }}</td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="short-info"
          >
            Preço
          </th>
          <td mat-cell *matCellDef="let product" class="short-info">
            {{ product.price | currency : "BRL" : "symbol" : "1.2-2" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="short-info"
          >
            Criado Em
          </th>
          <td mat-cell *matCellDef="let product" class="short-info">
            {{ product.createdAt | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="short-info">Ações</th>
          <td mat-cell *matCellDef="let product" class="short-info">
            <button mat-icon-button (click)="editProduct(product)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteProduct(product)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </section>
  } @else {
    <section class="section-results">
      <p>Nenhum produto encontrado.</p>
    </section>
  }
</div>
